<!DOCTYPE html>
<html>

<head>
    <title>PairCode</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="main">
        <div class="centered">
            <%if (popup) {%>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error:</strong>
                <%-popup-%>
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            <%}%>
          <h3 id="heading">PairCode</h3>
          <p>HTML/CSS/JS sandbox with real time collaboration.</p>
          <p>Instant code and preview updates for the whole team.</p>
          <p>Low latency remote pair programming powered by
            <a href="https://socket.io/">Socket.IO.</a>
          </p>
          <p>Open source project. Check out the
            <a href="https://github.com/healeycodes/paircode">GitHub repo</a> and raise an issue!</p>
    <button id="create-room-btn" type="button" class="btn btn-light" onclick="window.location.href('/new-room')">Create Room</button>
          <img src="/img/js.png" title="Abstriangulation by Akimitsu Hamamuro">
          
    </div>
    
  </div>
</body>

</html>