<!DOCTYPE html>
<html>
  <head>
    <title>
      <%-title-%>
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Code+Pro"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <script src="/js/srcdoc-polyfill.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div class="input-group share-link">
      <div class="input-group-prepend">
        <span class="input-group-text">Invite</span>
      </div>
      <input
        type="text"
        class="form-control"
        value="<%-roomRoute-%>"
        onclick="this.select();"
      />
    </div>
    <div id="data" data-roomid="<%-roomId-%>">
      <div class="top-bar">
        <div class="top-item">
          <span id="last-saved"></span>
        </div>
        <div class="top-item">
          <span id="ping"></span>
        </div>
        <div class="top-item">
          <span class="dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              id="menu-btn"
              data-toggle="dropdown"
            >
              Menu
            </button>
            <div class="dropdown-menu">
              <button id="home-btn" class="dropdown-item" type="button">
                Home
              </button>
              <button id="fork-btn" class="dropdown-item" type="button">
                Fork
              </button>
              <button id="delete-btn" class="dropdown-item" type="button">
                Delete
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>
    <iframe id="live-frame"></iframe>
    <div id="user-code">
      <section id="html">
        <textarea placeholder="HTML"><%-html-%></textarea>
      </section>
      <section id="css">
        <textarea placeholder="CSS"><%-css-%></textarea>
      </section>
      <section id="js">
        <textarea placeholder="JS"><%-js-%></textarea>
      </section>
    </div>
    <script src="/js/room.js"></script>
  </body>
</html>
