body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f4f4f;
  color: #f0f8ff;
}

p {
  font-size: 1.3em;
}

.main {
  width: 100vw;
  margin: auto;
  margin-top: 20px;
}

.link,
.link:hover,
.link:link {
  color: #f0f8ff;
  text-decoration: underline;
}

.link:visited,
.link:active {
  color: #f0f8ff;
}

.centered {
  text-align: center;
}

.heading {
  font-size: 6em;
  font-family: "Permanent Marker", cursive;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.heading {
  margin-bottom: 20px;
}

.create-room-con {
  margin-left: 195px;
}

.create-room-btn {
  margin: 10px 0 25px 0;
}

.alert {
  margin-top: 5%;
  width: 50%;
  left: 25%;
}

.splash-img {
  border-radius: 5px;
  max-width: 90%;
  opacity: 0.75;
}

.splash-img:hover {
  opacity: 0.9;
}

.create-room-btn {
  font-size: 1.5em;
  margin-top: 10px;
  animation: float 6s ease-in-out infinite;
}

.github-button-con {
  position: absolute;
  left: 10px;
  top: 10px;
}

.section-top {
  animation: fadein 1s;
}

.section-bottom {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-7px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 35px;
    font-size: 0.5em;
  }
  .create-room-btn {
    font-size: 1.75em;
  }
}
