body,
html {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2f4f4f;
    color: #f0f8ff;
}

.link,
.link:hover,
.link:link {
    color: #f0f8ff;
    text-decoration: underline;
}

.link:visited,
.link:active {
    color: #f0f8ff;
}

#main {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.centered {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

#heading {
    margin-bottom: 20px;
}

#create-room-con {
    margin-left: 195px;
}

#create-room-btn {
    margin: 10px 0 25px 0;
}

.alert {
    margin: 0 300px 20px 300px;
}

.splash-img {
    opacity: .75;
}

.splash-img:hover {
    opacity: .9;
}

#create-room-btn {
    margin-top: 10px;
    animation: float 6s ease-in-out infinite;
}

.github-button-con {
    position: absolute;
    left: 10px;
    top: 10px;
}

.section-top {
    animation: fadein 1s;
}

.section-bottom {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
     50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-7px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
