* {
  margin:0;
  padding:0;  
}

body, html {
  height: 100%;
  width: 100%;
  position: relative;
}

#user-code {
  width: 25%;
  float: left;
}

#live-frame {
  height: 95%;
  width: 74.5%;
  float: right;
  border: none;
}

section {
  float: right;
  height: 33.3%;
  position: absolute;
  width: 24.75%;
}

textarea {
  height: 97.5%;
  width: 100%;
  resize: none;
  font-size: 1.1em;
  background-color: darkslategray;
  color: aliceblue;
  padding: 1%;
}

#js {
    bottom: 0;
}

#css {
    top: 33.3%;
}

#html {
    top: 0;
}

#menu {
  height: 5%;
  width: 74.5%;
  float: right;
  padding: 0.25%;
}

#last-saved {
  line-height: 35px;
}

#fork-btn {
  float: right;
}

.row {
  margin-left: auto; margin-right: auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: aliceblue;
  padding: 1%;
}
::-moz-placeholder { /* Firefox 19+ */
  color: aliceblue;
  padding: 1%;
}
:-ms-input-placeholder { /* IE 10+ */
  color: aliceblue;
  padding: 1%;
}
:-moz-placeholder { /* Firefox 18- */
  color: aliceblue;
  padding: 1%;
}

::placeholder { /* Generic */
  color: aliceblue;
  padding: 1%;
}