* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.share-link {
  float: left;
  width: 25%;
}

.top-bar {
  display: flex;
}

.top-item {
  flex-grow: 1;
  margin: auto;
  text-align: center;
}

#user-code {
  height: calc(100% - 38px);
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
}

#live-frame {
  height: calc(100% - 38px);
  width: 75%;
  float: right;
  border: none;
}

section {
  height: 100%;
  width: 100%;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  background-color: #2f4f4f;
  color: #f0f8ff;
  padding: 2px;
}

#data {
  width: 74.5%;
  float: right;
}

#last-saved-con {
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f0f8ff;
  font-size: 2em;
  padding-left: 10px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f0f8ff;
  font-size: 2em;
  padding-left: 10px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #f0f8ff;
  font-size: 2em;
  padding-left: 10px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #f0f8ff;
  font-size: 2em;
  padding-left: 10px;
}

::placeholder {
  /* Generic */
  color: #f0f8ff;
  font-size: 2em;
  padding-left: 10px;
}

div.col-sm {
  padding: 0%;
}
